<div id="equipmentContainer">


  <div class="input" contentEditable="true">
    
    <div id="moneyContainer">
      <div class="moneySomething" contentEditable="false">
        <label>CP</label>
        <div class="written value">45</div>
      </div>
      <div class="moneySomething" contentEditable="false">
        <label>SP</label>
        <div class="written value">45</div>
      </div>
      <div class="moneySomething" contentEditable="false">
        <label>EP</label>
        <div class="written value">45</div>
      </div>   
      <div class="moneySomething" contentEditable="false">
        <label>GP</label>
        <div class="written value">45</div>
      </div>    
      <div class="moneySomething" contentEditable="false">
        <label>PP</label>
        <div class="written value">45</div>
      </div>
    </div>

  Begin editing...

  </div>
  <label>Equipment</label>
</div>
