.listitem {
  display:list-item;
  list-style-position: outside;
  list-style-type: none;
  margin-left: 1em;

  //border: 1px dashed red;
}

.tagged {
  list-style-type: disc;
}

.value {
  display:inline-block;
  width: 2em;
  margin: 2px auto;
  text-align: center;

  border-bottom: 1px black solid;
}
.placeholder {
  display:none;
}
.visible {
  display:inline-block;
}

.subInfo {
  color:gray;
}