<div id="vitalsContainer">
  <div class="row">
    <div class="column">
      <div id="armorclassContainer">
        <div class="value">10</div>
        <label>Armor Class</label>
      </div>
    </div>
    <div class="column">
      <div id="initiativeContainer">
        <div class="value">10</div>
        <label>Initiative</label>
      </div>
    </div>
    <div class="column">      
      <div id="speedContainer">
        <div class="value">30</div>
        <label>Speed</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="hitpointsContainer">
      10/12
    </div>
  </div>
  <div class="row">
    <div id="hitdiceContainer">
      1d10
    </div>
    <div id="deathtrackerContainer">
    </div>
  </div>
</div>